go 1.23.12

use (
	./ApiGateway
	./AuthService
	./BrillientStudentAchievement
	./BusinessMicroservice
	./DBService
	./ImageUploadService
	./NamdevEvents
	./UserMicroservice
	./UserProfileMicroservice
)
